@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}

*, *::before, *::after{
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: 'Montserrat';
}

/* wrapper */
.wrapper {
  display: ;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  background: #4682b4;
}

.header h1 {
  color: white;
  font-size: 100%;
  font-weight: 400;
}

.header h1 span {
  color: white;
  font-size: 300%;
}

.game {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  height: calc(100% - 190px);
}

.game .score{
  margin-top: 15px;
  font-size: 100%;
  font-weight: lighter;
}

.question-answer {
  position: relative;
  display: block;
  top: 40%;
  height: 150px;
}

.color-text {
  font-size: 150%;
  margin-bottom: 50px;
  font-family: 'Source Code Pro';
}

.option {
  display: inline-block;
  border: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0px 10px;
  background-color: ;
  cursor: pointer;
  transition: all 0.45s ease;
}

/* overlay */
.overlay {
  display: block;
  font-family: 'Montserrat';
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.option.open {
  transform: scale(60)
}

.correct-modal {
  display: none;
}

.wrong-modal {
  display: none;
}

button {
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 13pt;
  margin-top: 20px;
  padding: 7px;
  background-color: transparent;
  color: white;
  z-index: 20;
}

button:active {
  outline: none;
  color: #232323;
  background-color: white;
}

button:focus { outline: none; }

.correct-modal.open {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: 0;
  top: 40%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 300%;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  z-index: 20;
}

.next-color {
  width: 140px;
}

.wrong-modal.open {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: 0;
  top: 40%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 300%;
  font-weight: 700;
  color: white;
  line-height: 1.2;
  z-index: 20;
}

.play-again {
  width: 140px;
}

.share-score {
  width: 150px;
}

.score-in-modal {
  font-size: 15pt; 
}